<ion-view view-title="" hide-nav-bar="true" hide-back-button="true">
	<ion-content>
		<div >
		  	<h1 class="main">{{selected.amount}}</h1>
		  	<p class="description">{{selected.name}}</p>
		</div>

		<div class="buttons">
			<!--<li class="restartButton">
		  		<button class="button button-outline icon ion-refresh  button-calm" 
		  				ng-click="toRestartCount()">
		  	</li>
		  	<li class="increaseButton">
		  		<button class="button button-outline icon ion-plus  button-positive" 
		  				ng-click="toIncreaseCount()">

		  	</li>-->
		  	<button angular-ripple
		  			ng-click="toRestartCount()" class="icon-arrows-ccw"></button>

		  	<button angular-ripple
		  			ng-click="toIncreaseCount()" class="icon-plus"></button>
  			<button angular-ripple
  					nav-transition="none"
		  			ng-click="navigateTo('app.list')" class="icon-list"></button>

		  	<!--		  	
		  	<li class="restartButton">
		  		<button class="button button-outline icon ion-folder  button-balanced" 
		  				ng-click="navigateTo('app.list')">
		  		</button>
		  	</li>
		  	-->
		</div>
	</ion-content>
</ion-view>
