<ion-view view-title="Home" hide-nav-bar="true" hide-back-button="true">
	<ion-content>
		<div >
		  	<h1 class="main">{{amount}}</h1>
		</div>

		<ul class="buttons">
			<li class="restartButton">
		  		<button class="button button-outline icon ion-refresh  button-calm" 
		  				ng-click="toRestartCount()">
		  	</li>
		  	<li class="increaseButton">
		  		<button class="button button-outline icon ion-plus  button-positive" 
		  				ng-click="toIncreaseCount()">

		  	</li>

		  	<!--		  	
		  	<li class="restartButton">
		  		<button class="button button-outline icon ion-folder  button-balanced" 
		  				ng-click="navigateTo('app.list')">
		  		</button>
		  	</li>
		  	-->
		</ul>
	</ion-content>
</ion-view>
