
 <ion-view view-title="" hide-nav-bar="true" hide-back-button="true">
 	<div class="bar bar-header">
		<button class="button button-icon icon ion-chevron-left"
				ng-click="navigateTo('app.home')"></button>
		<div class="h1 title"></div>
		<button class="button button-clear button-positive"
				ng-click="toChangeMod()">{{label}}</button>
	</div>


    <ion-content class="has-header">
		<div class="list">		

	  		<a ng-repeat="item in items" 
	  	 		class="item item-icon-left item-icon-right" 	  	 		
	  	 		ng-if="!deleteOn"
	  	 		ng-click="toChangeSelected({{item}})">
	    		<i ng-if="item == selected" 
	       			class="icon ion-checkmark-round"></i>
	    				{{item.name}}
	   			<span class="badge badge-assertive">{{item.amount}}</span>
	  		</a>

	  		<a ng-repeat="item in items" 
	  	 		class="item item-icon-right" 	  	 		
	  	 		ng-if="deleteOn"
	  	 		ng-click="showConfirm({{item}})">
	    		<i  class="icon ion-trash-a"></i>
	    		{{item.name}}
	  		</a>

	  		<button class="button ion-folder  button-calm" 
		  			ng-click="createItem()"
		  			ng-if="!deleteOn">
		  			Añadir
		  	</button>


		</div>

    </ion-content>
 </ion-view>
